RewriteEngine On
RewriteBase /pro1041/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^admin/(.*)/(.*)/(.*)$ index.php?mod=admin&act=$1-$2&id=$3 [L]
RewriteRule ^admin/(.*)/(.*)$ index.php?mod=admin&act=$1-$2 [L]
RewriteRule ^(.*)/shop/(.*)$ index.php?mod=$1&act=shop&shop=$2 [L]
RewriteRule ^(.*)/search/(.*)/page/(.*)$ index.php?mod=$1&act=search&keyword=$2&page=$3 [L]
RewriteRule ^(.*)/search/(.*)$ index.php?mod=$1&act=search&keyword=$2 [L]
RewriteRule ^(.*)/detail/([0-9]+)/page/(.*)$ index.php?mod=$1&act=detail&id=$2&page=$3 [L]
RewriteRule ^(.*)/detail/([0-9]+)$ index.php?mod=$1&act=detail&id=$2 [L]
RewriteRule ^upload/(.*)$ upload/$1 [L]
RewriteRule ^controller/(.*)$ controller/$1 [L]
RewriteRule ^assets/(.*)$ assets/$1 [L]

RewriteRule ^gio-hang/(.*).html$ index.php?mod=page&act=cart_order [L]

RewriteRule ^assets/(.*)/(.*)/(.*)$ assets/$1/$2/$3 [L]
RewriteRule ^assets/(.*)/(.*)$ assets/$1/$2 [L]
RewriteRule ^template/(.*)$ template/$1 [L]
RewriteRule ^(.*)/(.*)$ index.php?mod=$1&act=$2 [L] 

# RewriteRule  [L]
