.checkout-progress-bar li a.active,
.checkout-progress-bar li a:hover {
  color: #08C;
  opacity: 1;
}

.checkout-progress-bar {
  margin: 4.7rem 0 2.1rem;
  font-size: 0;
  line-height: 1.4;
}

.checkout-progress-bar li {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
  color: #999;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;
  vertical-align: top;
}

.checkout-progress-bar li.prev {
  color: #222529;
}

.checkout-progress-bar li a {
  color: #222524;
}

.checkout-progress-bar li.active a {
  color: #08C;
}

.checkout-progress-bar li.active a:hover {
  color: #08C;
}

.checkout-progress-bar li.active+li a {
  color: #919292;
}

.checkout-progress-bar li.active+li a:hover {
  color: #08C;
}

.checkout-progress-bar li.disabled a {
  color: #919292;
}

.checkout-progress-bar li:not(:first-child) {
  margin-left: 5.8rem;
}

.checkout-progress-bar li:not(:first-child):before {
  position: absolute;
  left: -3.3rem;
  top: -0.8rem;
  content: "";
  color: #999;
  font-family: "porto";
  font-size: 3rem;
}

.checkout-progress-bar li:last-child {
  pointer-events: none;
}

.cart-table-container {
  margin-bottom: 2.5rem;
}

.cart-table-container .input-group .form-control {
  height: 43px;
  border-color: rgba(0, 0, 0, 0.09);
}

.cart-table-container .btn-shop,
.cart-table-container .btn-sm {
  border: none;
  background-color: #f4f4f4;
  color: #222529;
}

.cart-table-container .btn-shop:hover,
.cart-table-container .btn-sm:hover {
  color: #fff;
  background-color: #08C;
}

/* custom  */

label.error {
  margin-top: 4px;
  color: red;
}