.page-wrapper{
  background: white;
}
.checkout-progress-bar li a.active,
.checkout-progress-bar li a:hover {
  color: #c59b9c;
  opacity: 1;
}

.checkout-progress-bar {
  margin: 4.7rem 0 2.1rem;
  font-size: 0;
  line-height: 1.4;
}

.checkout-progress-bar li {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
  color: #999;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: center;
  vertical-align: top;
}

.checkout-progress-bar li.prev {
  color: #222529;
}

.checkout-progress-bar li a {
  color: #222524;
}

.checkout-progress-bar li.active a {
  color: #c59b9c;
}

.checkout-progress-bar li.active a:hover {
  color: #c59b9c;
}

.checkout-progress-bar li.active+li a {
  color: #919292;
}

.checkout-progress-bar li.active+li a:hover {
  color: #c59b9c;
}

.checkout-progress-bar li.disabled a {
  color: #919292;
}

.checkout-progress-bar li:not(:first-child) {
  margin-left: 5.8rem;
}

.checkout-progress-bar li:not(:first-child):before {
  position: absolute;
  left: -3.3rem;
  top: -0.8rem;
  font-family: FontAwesome;
  content: "\f105";
  color: #999;
  font-size: 3rem;
}

.checkout-progress-bar li:last-child {
  pointer-events: none;
}

.cart-table-container {
  margin-bottom: 2.5rem;
}

.cart-table-container .input-group .form-control {
  height: 43px;
  border-color: rgba(0, 0, 0, 0.09);
}

.cart-table-container .btn-shop,
.cart-table-container .btn-sm {
  border: none;
  background-color: #f4f4f4;
  color: #222529;
}

.cart-table-container .btn-shop:hover,
.cart-table-container .btn-sm:hover {
  color: #fff;
  background-color: #c59b9c;
}

/* custom  */

label.error {
  margin-top: 4px;
  color: #ff3333;
}

.appear-animate.fadeInLeftShorter.animated.appear-animation-visible {
  padding-left: 60px;
}

.table-cart td {
  padding: 20px 4px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


.name_cart {
  height: 38px;
  margin-left: 10px;
  color: rgba(0, 0, 0, .87);
  display: inline-block;
  margin-bottom: 5px;
  max-height: 40px;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.text-title {
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  overflow: hidden;
  height: 40px;
}

.result_coupon {
  text-align: start;
  margin-top: 8px;
  font-size: 1.4rem;
  color: #000;
  font-weight: 500;
}

.not_product {
  text-align: center;
}

/* toast start  */
.toast {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  animation: sideInleft ease 0.3s, fadeOut linear 1s 2s;
}

@keyframes sideInleft {
  from {
    /* opacity: 0; */
    transform: translateX(calc(100% + 32px));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    transform: translateX(-100%);
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--error {
  color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast+.toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 2.4rem;
}

.toast__icon,
.toast__close {
  padding: 0px 16px;

}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 1.4rem;
  margin-top: 4px;
  color: #888;
  line-height: 1.5;
}

.toast__close {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#toast {
  position: fixed;
  top: 32px;
  z-index: 9999;
  right: 32px;
}

/* toast end */